/* General styling*/

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@200;300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@200;300;400;600&family=Style+Script&display=swap");

:root {
  --sub-color: #f87862;
  --main-color: #f96348;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}

*::selection {
  background: var(--sub-color);
  color: #fff;
}

section {
  min-height: 90vh;
  padding: 2rem;
  overflow: hidden;
  background: #091b29;
}

html {
  font-size: 62.5%;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: #eee;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* navigation styling*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  width: 100%;
  background: transparent;
  transition: background 0.3s, color 0.3s;
  box-shadow: none;
  z-index: 1000;
  color: #f4f4f4;
}

.scrolled {
  background: #f4f4f4;
  color: #333;
}

.logo h1 {
  padding: 1rem;
  font-size: 3rem;
}

span.text-shade {
  color: var(--main-color);
  font-family: "Style Script", cursive;
}

.burger {
  font-size: 3rem;
  cursor: pointer;
  display: none;
  margin-bottom: 1rem;
}

.nav-links {
  list-style-type: none;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.nav-links li {
  padding: 2.5rem;
}

.nav-links li a {
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: var(--main-color); /* Change this color on hover */
}

/* hero section styling*/
#home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./assets/01_JO_CatherineSt_Interiors_HEADER_2000x1000px.png")
    no-repeat center center/cover;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

#home > h1,
p,
button {
  z-index: 2;
  text-align: center;
  color: #f4f4f4;
}

#home > h1 {
  font-size: 4.5rem;
}

#home > p.text {
  width: 60rem;
  margin-bottom: 3rem;
  padding: 0 1rem;
  font-size: 2.5rem;
}

p.stylish-font {
  font-family: "Style Script", cursive;
  font-size: 3.5rem;
  margin-top: 3rem;
}

button.page-btn {
  font-size: 1.5rem;
  background: var(--sub-color);
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-weight: 700;
  cursor: pointer;
}

button.page-btn:hover {
  background: var(--main-color);
  scale: 1.05;
}

/* about section styling*/
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about h2 {
  font-size: 4rem;
  color: #f4f4f4;
  margin-bottom: 2rem;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.content-image {
  width: 25rem;
  height: 40rem;
  flex-grow: 1;
}

.content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-text {
  width: 25rem;
  height: 40rem;
  flex-grow: 1;
  background: #0d2435;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.content-text h3 {
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #f4f4f4;
}

.content-text p.txt {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.content-image:hover,
.content-text:hover,
.menu-image:hover,
.menu-text ul:hover,
.social-media i:hover {
  scale: 1.05;
}

/* menu section styling*/
#menu {
  padding: 5rem;
  background: #0d2435;
}

.menu-container {
  width: 67%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.menu-image {
  width: 27rem;
  height: 47rem;
  flex-grow: 1;
}

.menu-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-text {
  width: 43rem;
  height: 47rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 4rem;
}

.menu-text h2 {
  font-size: 2.7rem;
  text-transform: uppercase;
  color: #f4f4f4;
  margin-bottom: 1rem;
}

.menu-text ul {
  list-style: none;
  margin-bottom: 1.5rem;
}

.menu-text ul li {
  font-size: 1.4rem;
  color: #f4f4f4;
  text-transform: uppercase;
  padding: 0.6rem 0;
  border-bottom: 1px solid #aaa;
}

.menu-item {
  display: inline-block;
  flex: 1;
}

.price {
  display: inline-block;
  margin-left: 20rem;
  font-weight: bold;
}

.menu-text ul li span {
  color: var(--sub-color);
  padding-left: 0.5rem;
}

.menu-text ul li p {
  text-transform: lowercase;
  font-size: 1.3rem;
  color: #aaa;
  font-family: cursive;
  padding-top: 0.5rem;
}

/* contact section styling*/
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact h2 {
  font-size: 4rem;
  color: #f4f4f4;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.social-media {
  margin: 3rem auto;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.social-media i {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  line-height: 8rem;
  text-align: center;
  font-size: 3rem;
  color: #fff;
  background: var(--main-color);
}

p.social-text {
  font-size: 4.5rem;
  margin: 3rem 0;
}

/* typing effect styling*/
#contact .text-animation {
  font-size: 3.5rem;
  font-weight: 600;
  min-width: 280px;
}

#contact .text-animation span {
  position: relative;
  font-family: "Style Script", cursive;
}

#contact .text-animation span::before {
  content: "Follow us to stay";
  color: var(--main-color);
  animation: words 20s infinite;
}

#contact .text-animation span::after {
  content: "";
  background-color: #091b29;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 2px solid #f1f1f1;
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Follow us to stay";
  }
  21%,
  40% {
    content: "in the loop on";
  }
  41%,
  60% {
    content: "what's new with";
  }
  61%,
  80% {
    content: "our traditional & modern";
  }
  81%,
  100% {
    content: "special cusines.";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
